<h1>Welcome</h1>
<%= link_to 'Add new list', new_list_path%>

<h2>My Lists:</h2>
<% @lists.each do |list, item| %>
    <div class="list-name-home">
      <%= link_to list.name, list %>
    </div>
<%end%>
