<h1>Welcome</h1>
<h2>My Lists:</h2>
<button id="add-list"></button>

<ul>
  <li class="new_list_form">
    <%= form_for(@list) do |form| %>
      <%= form.text_field :name, placeholder: "name this list"%>
      <%= form.submit "add new list" %>
    <% end %>
  </li>
  <%= render @lists %>
</ul>
