<h1>My Lists</h1>
<button id="add-list">add</button>
<ul>
  <li class="new_list_form">
    <%= form_for(@list) do |form| %>
      <%= form.text_field :name, placeholder: "name this list"%>
      <%= form.submit "✓" %>
    <% end %>
  </li>
  <%= render @lists %>
</ul>
