/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url(http://fonts.googleapis.com/css?family=Lato);

* {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: green;
}

h3:hover {
  color: green;
}

h1, h2 {
  color: grey;
}

h2, .update_list_form input {
  font-size: 1.5em;
}

.new_list_form input, .list-names {
  font-size: .9em;
}

.update_item_form input, .new_item_form input {
  font-size: 1.1em;
}

.new_list_form, .update_list_form, .new_item_form, .update_item_form, .delete-item, .delete-list {
 display: none;
}

.hidden {
  display: none;
}
